@mixin font-face($family, $file, $weight, $style) {
  @font-face {
      font-family: $family;
      src:url('/fonts/#{$file}.woff2') format('woff2'),
          url('/fonts/#{$file}.woff') format('woff');
      font-weight: $weight;
      font-style: $style;
  }
}
// Objektiv
@include font-face($objektiv, 'ObjektivMk1-BoldItalic', 700, italic)

@include font-face($objektiv, 'ObjektivMk1-Bold', 700, normal)

@include font-face($objektiv, 'ObjektivMk1-MediumItalic', 500, italic)

@include font-face($objektiv, 'ObjektivMk1-Medium', 500, normal)

@include font-face($objektiv, 'ObjektivMk1-Regular', 400, normal)

@include font-face($objektiv, 'ObjektivMk1-Light', 200, normal)
// Source Sans Pro
@include font-face($sourcesans, 'SourceSansPro-Semibold', 600, normal)

@include font-face($sourcesans, 'SourceSansPro-Regular', 400, normal)

@include font-face($sourcesans, 'SourceSansPro-Light', 200, normal)
