// Fonts ///////////////////////////////////////////////////////////////////////

$objektiv: "Objektiv";
$objektiv-font-family: #{$objektiv}, sans-serif;
$sourcesans: "Source Sans Pro";
$sourcesans-font-family: '#{$sourcesans}', sans-serif;

// Colors //////////////////////////////////////////////////////////////////////

$white: #FFFFFF;
$beige: #F2F0ED;
$gray-light: #E8E8E8;
$gray-lighter: #F5F5F5;
$gray: #707070;
$black: #000000;
$red: #ED1F45;
$green: #0AAD03;
$green-light: #8CC63E;
$green-lighter: #0FD40A;

// Layout ?????/////////////////////////////////////////////////////////////////

$container-limit: 1270px;

// Breakpoints /////////////////////////////////////////////////////////////////

$sm-breakpoint: 544px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1920px;
