<svg viewBox="0 0 42.9 43.3">
  <title>{{ size-tab-image[title] Size }}</title>
  <style>
    .si0 {
      fill: none;
      stroke: #1D1D1B;
      stroke-width: 2;
      stroke-miterlimit: 10;
    }

    .si1 {
      fill: #0FD40A;
    }
  </style>
  <path class="si0" d="M41.7,1.3l-8.4,8.4 M41.7,7.6V1.2h-6.4" />
  <path class="si1" d="M26.9,21.3c0,3-2.4,5.4-5.4,5.4c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4C24.5,15.9,26.9,18.3,26.9,21.3z" />
  <path class="si0" d="M21.5,30.1c-7,0-13-6.6-14.8-8.8c1.8-2.2,7.8-8.8,14.8-8.8c7,0,13,6.6,14.8,8.8C34.6,23.5,28.5,30.1,21.5,30.1z" />
  <path class="si0" d="M41.7,42.4L33.3,34 M35.3,42.4h6.4V36" />
  <path class="si0" d="M1,42.3l8.4-8.4 M1,36v6.4h6.4" />
  <path class="si0" d="M1.1,1.2l8.4,8.4 M7.4,1.2H1v6.4" />
</svg>
